<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Test</title>
</head>

<body>
    <h1>simple flask</h1>
    <form action="/temperature" method="post">
        <input type="text" name="country" placeholder="kota">
        <input type="submit" value="send">
    </form>
    <form action="/temperatureapi" method="post">
        <input type="text" name="country" placeholder="kota">
        <input type="submit" value="view JSON">
    </form>
</body>

</html>